.navigation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btns {
    padding: 0px;
    margin: 0px;
    font-size: 1em;

}

.favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5vw;
    top: 5px;
    width: 80px;
    height: 80px;
}

.title  {
   margin-left: 5vw;
   width: 40vw;
}

.bookmark {
  width: 0px;
  height: 90px;
  border: 40px solid #ca3c3c;
  border-top: 0;
  border-bottom: 30px solid transparent;
  position: absolute;
  right: 5vw;
  top: 0px;
  z-index: -1;

}

@media screen and (max-width: 700px) {
    .title  {
      width: 50vw;
    }
  }

@media screen and (max-width: 415px) {
  .favorite {
    width: 70px;
  }

  .bookmark {
    border: 35px solid #ca3c3c;
    border-bottom: 30px solid transparent;
    height: 60px;
  }
}